<div id="layoutSidenav_content">
  <main>
    <div class="container-fluid px-4">
      <div class="d-flex justify-content-between align-items-center mt-4 mb-3">
        <h1 class="mt-4">Feedback</h1>
        <button type="button" class="btn btn-success" (click)="feebacks()">
          <i class="bi bi-plus-circle"></i> Feedbacks
        </button>
      </div>
      <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Feedback</li>
      </ol>
      <div class="row">
        <div class="col-12 mb-3">
          <div class="card">
            <div class="card-header">
             <h4>{{ feedback.title }}</h4>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-4 mb-3">
                  <h5>Description:</h5>
                </div>
                <div class="col-12 mb-3">
                  <div class="card">
                    <div class="card-body">
                      <p>{{ feedback.description }}</p>
                    </div>
                  </div>
                </div>
              </div>
              <button  class="btn btn-primary" (click)="edit(feedback.id)">Edit Feedback</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <app-footer></app-footer>
</div>
<app-toast #toast></app-toast>
