<div id="layoutSidenav_content">
  <main>
    <div class="container-fluid px-4">
      <div class="d-flex justify-content-between align-items-center mt-4 mb-3">
        <h1 class="mt-4">Comments</h1>
        <button type="button" class="btn btn-success" (click)="feebacks()">
          <i class="bi bi-plus-circle"></i> Feedbacks
        </button>
      </div>
      <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Feedbacks</li>
      </ol>
      <div class="row">
        <p>comments works!</p>
      </div>
    </div>
  </main>
  <app-footer></app-footer>
</div>
